
<ol class="post=list">
  {{#each posts as |post|}}
  <li class="nostyle">
    <div class="container">
    <article class="post">
      <div class="title row">
        <a class="col-md-8 title-white" href="/post/{{id}}" target="_blank">{{title}}</a>
        <span class="col-md-4">Posted by {{user.username}} on
        {{format_date created_at}}</span>
      </div>
      <div>
        <textarea class="post-textarea" name="text" id="text" cols="80" rows="2">{{text}}</textarea>
      </div>
    </article>
    </div>
  </li>
  {{/each}}
</ol>